<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <div class="wrap">
      <%- partial('_partial/header') %>
      <main class="container"><%- body %></main>
      <%- partial('_partial/footer') %>
    </div>
    <script>
      $(function () {
        var $text = $('.emojstext');
        var html = $text.html().trim().replace(/\n/g, '<br/>');
        $text.html(jEmoji.unifiedToHTML(html));
      });
    </script>
  </body>
</html>