<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <div class="wrap">
      <%- partial('_partial/header') %>
      <main class="container"><%- body %></main>
      <%- partial('_partial/footer') %>
    </div>
  </body>
</html>