<footer>
  <div class="paginator"></div>
  <div class="copyright">
    <p>email: <%- theme.contact.email %></p>
    <p>© 2019 <a href="<%- url_for(theme.url.blog_url) %>" target="_blank">umatobu</a>, powered by <a href="https://hexo.io/" target="_blank">Hexo</a> and <a href="<%- url_for(theme.url.theme_url) %>" target="_blank">hexo-theme-umatobu</a>.</p>
  </div>
</footer>