.aboutme {
    text-align: center;

    .my-info-div {
        line-height: 1.4em;
        margin-top: 15px;

        p {
            color: #000;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .my-label, a {
            color: #666;
        }

        a:hover {
            color: #8CC7B5;
        }
    }

    img {
        width: 8em;
    }
}